bin/
lib/*
!lib/python2.7/site-packages/sopel
!lib/python2.7/site-packages/sopel/
!lib/python2.7/site-packages/sopel/*/
!lib/python2.7/site-packages/sopel/*/*/
!lib/python2.7/site-packages/sopel/*/*/*/
!lib/python2.7/site-packages/sopel/*/*/*/*/
youtube.py
*.pyc
sopel/logs/
sopel/*.db
.sopel/
